.header__lang-link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: normal;
    line-height: 1.1;
}

.header__lang-link:first-of-type {
  margin-right: 18px;
  text-decoration-line: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
    margin-top: 30px;
  }
}