.cover__subtitle {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 360px;
  position: relative;
}