.places__place {
  margin: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.places__place:last-of-type {
    margin-bottom: 92px;
}