.places__description {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 24px;
}

@media screen and (max-width: 1023px) {
  .places__description-one {
    font-size: 16px;
    line-height: 1.6;
  }
}